{% extends 'base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/style.css">
{% endblock head %}
{% block title %}
    Chat Room
{% endblock title %}
{% block body %}
   
        <div class="flex flex-col h-[80vh] w-screen p-3">
            <h1 class="text-2xl text-center">Welcome {{ username }} to room {{ room.room_name }}</h1>
            <button id="older_messages"></button>
            <div class="flex flex-col" id="joined">

            </div>
            <div id="messages" class="flex flex-col">
                {% if messages %}    
                    {% for message in messages %}
                        <p><b>{{message.sender}}:[{{message.sent_at}}]</b>: {{message.text}}</p>
                    {% endfor %}
                {% endif %}
            </div> 
            <div class="fixed inset-y-0 right-2 p-2 h-[100%] w-[15vh] bg-slate-800 hidden md:block">
                <h2 class="mt-20">Room Members</h2>
                <ul>
                    {% for member in room_members %}
                    <li>{{ member._id.username }}</li>
                    {% endfor %}
                </ul>
                {% if room.created_by==current_user.username %}
                <div class="py-5"></div>
                <form action="/edit_room/{{room.room_name}}" method="get">
                    <button type="submit" class="p-2 rounded-xl hover:bg-lime-900 bg-lime-800">Edit Room</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="bottom-2 w-screen fixed items-center justify-center">
            <form action="" id="message_input_form" class="flex flex-row p-2">
                <input type="text" placeholder="hey!" id="message_input" class="bg-zinc-800 text-white border border-solid border-white p-2 w-[70%] rounded-xl">
                <button type="submit" class="p-2 bg-lime-700 hover:bg-lime-900 rounded-xl m-1">Send</button>
                <button id="leave-btn" class="p-2 bg-red-700 hover:bg-red-900 rounded-xl m-1">Leave Room</button>
            </form>
        </div>
{% endblock body %}
{% block bottom %}
    <script>
        let socket = io.connect()
        socket.on('connect', ()=>{
            socket.emit('join', {
                username: "{{current_user.username}}",
                room: "{{room._id}}"
            })
            let message_input = document.getElementById('message_input')
            document.getElementById('message_input_form').onsubmit = (e)=>{
                e.preventDefault()
                let message = message_input.value.trim()
                if(message.length){
                    socket.emit('send_message', {
                        username: "{{current_user.username}}",
                        room: "{{room._id}}",
                        message: message
                    })
                }
                message_input.value = ""
                message_input.focus()
            }
            document.getElementById('leave-btn').onclick = ()=>{
                socket.emit('leave', {
                    username: "{{current_user.username}}",
                    room: "{{room._id}}"
                })
            }
        })
        socket.on('join_room', (data)=>{
            console.log(data);
            const messages = document.getElementById('joined')
            const newNode = document.createElement('p1')
            newNode.innerHTML = `<b>${data.username}</b> has joined the party`
            newNode.classList.add("text-center")
            messages.appendChild(newNode)
            setTimeout(()=>{
                messages.removeChild(newNode)
            }, 3000)
        })
        socket.on('receive_message', (data)=>{
            const newNode = document.createElement('p1')
            newNode.innerHTML = `<b>${data.username}:[${data.sent_at}]</b>: ${data.message}`
            newNode.classList.add("messages")
            document.getElementById('messages').appendChild(newNode)
        })
        socket.on('leave_room', (data)=>{
            console.log(`${data.username} has left the room`);
        })
    </script>
{% endblock bottom %}